[app]
# Port the application is going to listen for http connections
port = 8000
words-per-description = 25

[mongo]
# MongoDB host, port, database settings that the application is going to use
host = 127.0.0.1
port = 27017
database = test
# data-collection is the name of the mongoDB collection which has
# data from each scanned url in the following format
# {"data": "....", "url": "....", "time_scanned": ISODate("....")}
data-collection = lists
# searches-collection is the collection which includes search inputs
# in order for the app to recommend suggested searches
searches-collection = search
# If (old-urls) days have passed since encountering this url
# the crawler is going to crawl it again and store it again
old-urls = 5

[crawler]
depth = 1
threads = 4
user-agent = Hurricane/1.1
user-agent-robots = *
unload-robots = 20
allow-content = text,html
ignore-extensions = css,js,png,jpeg,jpg,ico


[regexes]
# Do not mess with these except if you know what you are doing
split = \s+
escape = (\\n|\\t|\\r)
